DATABASE_CONNECTIONS={"hosts": {"sslMode": "disable", "name": "host-inventory", "hostname": "host-inventory-db.test.svc", "password": "password", "username": "username", "table": "hosts", "port": "5432"}}
ELASTICSEARCH_HOST_URL=http://xjoin-elasticsearch-es-default.test.svc:9200
ELASTICSEARCH_INDEX=xjoinindexpipeline.hosts
ELASTICSEARCH_PASSWORD=xjoin1337
ELASTICSEARCH_USERNAME=xjoin
FULL_AVRO_SCHEMA={}
INDEX_AVRO_SCHEMA={}